<div class="row font-weight-bold">
	<div class="col-4">Item</div>
	<div class="col-1 text-center">UoM</div>
	<div class="col-2 text-right">Qty</div>
	<div class="col-1 text-center">Lots</div>
	<div class="col-1 text-right">Price</div>
	<div class="col-1 text-right">Total</div>
	<div class="col-2 text-center">

	</div>
</div>
