{#
	var                    Description / Instance of
	-------------------------------------------------
	type                   Alert Type
	iconclass              Icon Class to use
	title                  Title to use
	message                Message for alert
#}
<div class="toast show max-w-100" data-autohide="false" role="alert">
	<div class="toast-header bg-{{ type }} text-white">
		<span data-notify="icon"><i class="{{ iconclass }}" aria-hidden="true"></i></span>
		&nbsp; &nbsp;
		<strong class="mr-auto">{{ title }}</strong>
	</div>
	<div class="toast-body">
		{{ message }}
	</div>
</div>
