<div class="modal loading fade" id="loading" tabindex="-1" aria-labelledby="loading-label" aria-hidden="true">
	<div class="d-flex justify-content-center">
		<strong class="text-primary" id="loading-label">Loading...</strong> &nbsp; &nbsp;
		<div class="spinner-border text-primary" role="status" aria-hidden="true"></div>
	</div>
</div>
