<div class="row">
	<div class="offset-sm-2 col-sm-6">
		<div class="text-center">
			<img class="logo" src="{{ siteconfig.logo.url }}" alt="{{ siteconfig.title }} logo">
		</div>
	</div>
</div>

<h3>Create Account</h3>
<form action="{{ page.url }}" method="post" class="allow-enterkey-submit" id="register-account-form">
	<input type="hidden" name="action" value="register-account">

	<div class="row">
		<div class="col-sm-6">
			<div class="form-group">
				<label for="email">Email</label>
				<input type="email" class="form-control form-control-sm" name="email" id="email" value="{{ user.email }}">
			</div>
			<div class="form-group">
				<label for="password">Password</label>
				<input type="password" class="form-control form-control-sm" name="password" id="password">
			</div>
			<div class="form-group">
				<label for="confirm">Confirm New Password</label>
				<input type="password" class="form-control form-control-sm" name="confirm" id="confirm">
			</div>
			<div class="form-group">
				<label for="maiden">Mother's Maiden Name</label>
				<input type="text" class="form-control form-control-sm" name="maiden" id="maiden">
			</div>
			<div class="form-group">
				<label for="city">City Born in</label>
				<input type="text" class="form-control form-control-sm" name="city" id="city">
			</div>
		</div>
		<div class="col-sm-6">
			<div class="form-group">
				<label for="custID">Customer ID</label>
				<input type="text" class="form-control form-control-sm" name="custID" id="custID">
				<small class="form-text text-muted customer-name"></small>
			</div>
		</div>
		<div class="col-sm-6">
			<div class="form-group">
				<label for="contact">Contact</label>
				<input type="text" class="form-control form-control-sm" name="contact" id="contact">
			</div>
		</div>
	</div>
	<p class="text-center">
		<button type="submit" class="btn btn-lg btn-success btn-block">
			<i class="fa fa-user-plus" aria-hidden="true"></i> Create Account
		</button>
	</p>
	<hr>
</form>
