<div class="row">
	<div class="col-sm-6">
		<h3>Update Password</h3>
		<form action="{{ page.url }}" method="post" class="allow-enterkey-submit" id="update-password-form">
			<input type="hidden" name="action" value="update-password">

			<div class="form-group">
				<label for="email">Email</label>
				<input type="email" class="form-control-plaintext form-control-sm" name="email" id="email" value="{{ user.email }}" readonly>
			</div>
			<div class="form-group">
				<label for="password">Password</label>
				<input type="password" class="form-control form-control-sm" name="password" id="password">
			</div>
			<div class="form-group">
				<label for="new">New Password</label>
				<input type="password" class="form-control form-control-sm" name="new" id="new">
			</div>
			<div class="form-group">
				<label for="confirm">Confirm New Password</label>
				<input type="password" class="form-control form-control-sm" name="confirm" id="confirm">
			</div>
			<p class="text-center">
				<button type="submit" class="btn btn-lg btn-success btn-block">
					<i class="fa fa-pencil-square" aria-hidden="true"></i> Update Password
				</button>
			</p>
			<hr>
		</form>
	</div>
</div>
