{#
	var                    Description / Instance of
	-------------------------------------------------
	page                   ProcessWire\Page(template=item)
	lots                   array [$lot => ['lot' => $lotnbr, 'qty' => $qty]]
	docm                   Dplus\DocManagement\Finders\Lt\Img
#}
<p class="lead text-muted">{{ page.description1 }}</p>

<div class="row">
	{% for lot in lots %}
		<div class="col-md-4">
			{% if input.get.offsetExists('ordn') %}
				{% include 'items/item/lot-for-order.twig' %}
			{% else %}
				{% include 'items/item/lot-for-cart.twig' %}
			{% endif %}
		</div>
	{% endfor %}
 </div>
