{#
	var                    Description / Instance of
	-------------------------------------------------
	page                   ProcessWire\Page(template=item)
	lots                   array [$lot => ['lot' => $lotnbr, 'qty' => $qty]]
	docm                   Dplus\DocManagement\Finders\Lt\Img
#}
<p class="lead text-muted">{{ page.description1 }}</p>

<div class="row">
	{% for lot in lots %}
		<div class="col-md-4">
			{% include 'items/item/lot.twig' %}
		</div>
	{% endfor %}
 </div>
