/**************************************
	Reset Styles
**************************************/
html {
	position: relative;
	height: 100%;
}

body { height: 100%; }

footer {
	width: 100%;
	padding-top: 15px;
}

/**************************************
	Bootstrap Styles
**************************************/
.breadcrumb .breadcrumb-item::before {color: white;}
.breadcrumb-item+.breadcrumb-item::before {
	display: inline-block;
	padding-right: 0.5rem;
	color: #6c757d;
	content: "/"
 }

.breadcrumb-item.active {
	color: #FF304F;
}

.toolbar-sidebar > .nav > li > a {
	display: block;
	padding: .25rem 1.5rem;
	font-size: 90%;
	color: rgba(0,0,0,.65);
}

.bg-gray {
	background-color: #c8bfc7 !important;
}

.form-group label {
	font-weight: bold;
}

.max-w-100 {
	max-width: 100%;
}

.card-img-top.vh-40 {
	height: 40vh;
	object-fit: cover;
}

/*==============================================================
	FUELUX Styles
==============================================================*/
.fuelux .datepicker-calendar-days td button, .fuelux .datepicker-calendar-header .title {
	cursor: pointer;
}

.fuelux .datepicker-calendar-days td.selected.current-day b,
.fuelux .datepicker-calendar-days td.selected.current-day button {
	color: #fff;
}

.fuelux .datepicker-calendar-days td.current-day span {
	background: #007bff;
}
.fuelux .datepicker-calendar-days td.current-day button {
	color: #fff;
}

/*==============================================================
	Bootstrap Notify Styles
==============================================================*/
[data-notify="progressbar"] {
	/* position: absolute;
	margin-bottom: 0px;
	bottom: 0px;
	left: 0px */
	width: 100%;
	height: 7px;
}

/*==============================================================
	Font Awesome
==============================================================*/
.fa-1-2x { font-size: 1.2em; }

/*==============================================================
	Application Styles
==============================================================*/
.jumbotron.page-banner { padding: 1rem 1rem; }

.container.page {
	min-height: 100%;
	height: 100%;
	height: auto;
	padding-bottom:200px;
}

.highlight {background: #efcc00; }
a .highlight {color: #000;}
.highlight a {color: #0f7864; }

#back-to-top {
	position: fixed;
	bottom: 20px;
	right: 20px;
	z-index: 12;
	display: none;
}

a.link {
	color: #124054;
	text-decoration: none;
	background-color: transparent;
	border-bottom: 3px solid #ff9e19;
	-webkit-transition: background .15s cubic-bezier(0.33, 0.66, 0.66, 1);
	-o-transition: background .15s cubic-bezier(0.33, 0.66, 0.66, 1);
	transition: background .15s cubic-bezier(0.33, 0.66, 0.66, 1);
	-webkit-box-shadow: inset 0 -4px 0 #ff9e19;
	box-shadow: inset 0 -4px 0 #ff9e19;
}
	a.link:hover {
		background-color: #ff9e19;
		color: #124054 !important;
	}
	.text-white a.link { color: white; }

a.image-link {
	text-decoration: none;
	background-color: transparent;
	border: 5px solid #ff9e19;
	-webkit-transition: background .15s cubic-bezier(0.33, 0.66, 0.66, 1);
	-o-transition: background .15s cubic-bezier(0.33, 0.66, 0.66, 1);
	transition: background .15s cubic-bezier(0.33, 0.66, 0.66, 1);
	-webkit-box-shadow: inset 0 -4px 0 #ff9e19;
	box-shadow: inset 0 -4px 0 #ff9e19;
	display: inline-block;
}
	a.image-link:hover { border-color: #8ba2b0; }

.scroll-500 {
	overflow-y: scroll;
	max-height: 500px;
}

.scroll-300 {
	overflow-y: scroll;
	max-height: 300px;
}

.highlight { background: #FADA5E; }

.modal.loading {
	top: auto;
}

.modal.loading.show {
	display: block;
	top: auto;
}

.s-70 {
	font-size: 70%;
}

/*==============================================================
	Login
==============================================================*/
.login-form {
	width: 100%;
	padding: 15px;
	margin: auto
}
	.login-form img.logo, img.logo { max-width: 100%; }


/*==============================================================
	Cart Styles
==============================================================*/
	.cart .cart-item {
		border-top: 3px solid #000;
	}

/*==============================================================
	Form
==============================================================*/
	/* Chrome, Safari, Edge, Opera */
	input::-webkit-outer-spin-button,
	input::-webkit-inner-spin-button {
		-webkit-appearance: none;
		margin: 0;
	}

	/* Firefox */
	input.form-control[type=number] {
		-moz-appearance: textfield;
	}

	textarea.qnotes {
		font-family: monospace;
	}
