{#
	var                    Description / Instance of
	-------------------------------------------------
	page                   ProcessWire\Page
	user                   ProcessWire\User
	billing                Billing
#}
<p>Thank you {{ user.user }}</p>
<p>
	Your order # <b>{{ billing.orders }}</b> has been placed. <br>
	You will be receiving an order confirmation email soon,
	but if you have any questions, please contact us.
</p>
