{#
	var                    Description / Instance of
	-------------------------------------------------
	page                   ProcessWire\Page
	permissions            module ItemPermissions
	q                      Search String
	count                  Number of Customers
	customers              Customer[]|ObjectCollection
#}
<div class="row">
	<div class="col-sm-6">
		<h3>
			{% if page.fullURL.query.get('add') %}
				{{ count }} Total Customers
			{% else %}
				{{ count }} Customers with restrictions
			{% endif %}
		</h3>
	</div>
	<div class="col-sm-6 text-right">
		{% if page.fullURL.query.get('add') %}
			<a href="{{ page.url }}" class="btn btn-sm btn-warning">
				<i class="fa fa-undo" aria-hidden="true"></i> Back to List
		</a>
		{% else %}
			<a href="{{ page.url }}?add=new" class="btn btn-sm btn-primary">
				<i class="fa fa-plus-circle" aria-hidden="true"></i> Add
			</a>
		{% endif %}
	</div>
</div>
