<div class="row bg-primary rounded">
	<div class="col-sm-3 mt-3">
		<div class="card bg-white">
			<a href="{{ pages.get('template=item-group-menu').url }}">
				<div class="card-body">
					<h1 class="text-center text-danger"><i class="fa fa-database fa-2x" aria-hidden="true"></i></h1>
					<p class="card-text font-weight-bold text-center text-danger">Products</p>
				</div>
			</a>
		</div>
	</div>
	<div class="col-sm-3 my-3">
		<div class="card bg-white">
			<a href="{{ pages.get('template=item-group-menu').url }}">
				<div class="card-body">
					<h1 class="text-center text-danger"><i class="fa fa-shopping-cart fa-2x" aria-hidden="true"></i></h1>
					<p class="card-text font-weight-bold text-center text-danger">Cart</p>
				</div>
			</a>
		</div>
	</div>
	<div class="col-sm-3 mt-3">
		<div class="card bg-white">
			<a href="/user/orders/">
				<div class="card-body">
					<h1 class="text-center text-danger"><i class="fa fa-list-alt fa-2x" aria-hidden="true"></i></h1>
					<p class="card-text font-weight-bold text-center text-danger">Open Orders</p>
				</div>
			</a>
		</div>
	</div>

	<div class="col-sm-3 my-3">
		<div class="card bg-white">
			<a href="/rebuild/">
				<div class="card-body">
					<h1 class="text-center text-danger"><i class="fa fa-wrench fa-2x" aria-hidden="true"></i></h1>
					<p class="card-text font-weight-bold text-center text-danger">Rebuild Items</p>
				</div>
			</a>
		</div>
	</div>
	<div class="col-sm-3 my-3">
		<div class="card bg-white">
			<a href="/admin/">
				<div class="card-body">
					<h1 class="text-center text-danger"><i class="fa fa-users fa-2x" aria-hidden="true"></i></h1>
					<p class="card-text font-weight-bold text-center text-danger">Program Administration</p>
				</div>
			</a>
		</div>
	</div>
</div>
