{#
	var                    Description / Instance of
	-------------------------------------------------
	page                   ProcessWire\Page
#}
<form action="{{ pages.get('template=items-search').url }}" method="GET" class="item-search">
	{% if input.get.offsetExists('ordn') %}
		<input type="hidden" name="ordn" value="{{ input.get.text('ordn') }}">
	{% endif %}
	<div class="form-group">
		<label for="q">Search Items</label>
		<div class="input-group">
			<input type="text" class="form-control" name="q" id="q" placeholder="Search ItemID, Description" value="{{ q }}">
			<span class="input-group-btn">
				<button type="submit" class="btn btn-primary">
					<span class="fa fa-search" aria-hidden="true"></span> <span class="sr-only">Search</span>
				</button>
			</span>
		</div>
	</div>
</form>
