{#
	var                    Description / Instance of
	-------------------------------------------------
	page                   ProcessWire\Page
	items                  Page(template=item)[]
	inventory              Dplus\Ecomm\Items\Available\Items
#}
<div class="row">
	{% for item in items %}
		{% include 'items/list/item.twig' %}
	{% endfor %}
</div>
